body {
    margin: 0%;
    padding: 0%;
    color: crimson;
    background-image: url(/img/arkap.png);
}
#altyazi {
    width: 400px;
    height: 50px;
    background-color: rgba(128, 255, 0, 0);
    float: right;  
    position: relative;
    top: 550px;
    right: 15px;
}
#altyazi p {
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}
#logo {
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
}
#logo img {
    width: 400px;
}
#anakare {
    width: 99%;
    height: 530px;
    margin-left: 10px;
    padding: 0%;
    position: relative;
    bottom: 15px;
}
#vid1 {
    position: relative;
    bottom: 18px;
    border-radius: 8px;
    left: 107px;
}
#vid2 {
    position: relative;
    bottom: 16px;
    border-radius: 8px;
    left: 107px;
}
#videos {
    width: 101px;
    height: 566px;
    background-color: crimson;
    margin: 10px 0 0 10px;
    float: left;
    position: relative;
    border-radius: 8px;  
}
#sosyal-ana {
    width: 570px;
    height: 570px;
    margin-left: 665px;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    
}
#sosyal-kare1 {
    width: 280px;
    height: 280px;
    background-image: url(/img/insaa.PNG);
    background-size: 280px;
    margin: 10px 0 0 10px;
    float: left;
    position: relative;
    top: 0px;
}
#sosyal-kare1:hover {
    width: 280px;
    height: 280px;
    background-image: url(/img/instakram.GIF);
    background-size: 280px;
    margin: 10px 0 0 10px;
    float: left;
    position: relative;
    top: 0px;
}
#sosyal-kare2 {
    width: 280px;
    height: 280px;
    background-image: url(/img/twitter.png);
    background-size: 280px;
    margin: 10px 0 0 10px;
    float: left;
    position: relative;
    left: 286px;
    bottom: 290px;
}
#sosyal-kare2:hover {
    width: 280px;
    height: 280px;
    background-image: url(/img/instakram.GIF);
    background-size: 280px;
    margin: 10px 0 0 10px;
    float: left;
    position: relative;
    left: 286px;
    bottom: 290px;
}
#sosyal-kare3 {
    width: 280px;
    height: 280px;
    background-image: url(/img/youtube.png);
    background-size: 280px;
    margin: 10px 10px 0 10px;
    float: left;
    position: relative;
    bottom: 294px;
}
#sosyal-kare4 {
    width: 280px;
    height: 280px;
    background-image: url(/img/facebook.png);
    background-size: 280px;
    margin: 10px 10px 0 10px;
    float: left;
    position: relative;
    right: 20px;
    left: 286px;
    bottom: 584px;
}
#demo-yolla {
    width: 210px;
    height: 566px;
    background-image: url(/img/Webp.net-gifmaker.gif);
    background-size: 210px;
    position: relative;
    left: 1248px;
    bottom: 561px;
}
@media screen and (max-width: 600px){
    body {
        width: 30%;
        margin: 0%;
        padding: 0%;
        color: rgb(0, 0, 0);
        background-image: url(/img/arkap.png);
    }
    #altyazi {
        width: 400px;
        height: 50px;
        background-color: rgba(128, 255, 0, 0);
        float: right;  
        position: relative;
        top: 550px;
        right: 15px;
    }
    #altyazi p {
        color: rgb(255, 255, 255);
        text-align: right;
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
    }
    #logo {
        width: 500px;
        height: 100px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    #logo img {
        width: 40%;
    }
    #anakare {
        width: 375px;
        height: 530px;
        margin-left: 10px;
        padding: 0%;
        position: relative;
        bottom: 15px;
    }
    #vid1 {
        width: 315px;
        height: 150px;
        position: relative;
        bottom: 150px;
        border-radius: 8px;
        left: 0px;
    }
    #vid2 {
        width: 315px;
        height: 150px;
        position: relative;
        bottom: 150px;
        border-radius: 8px;
        left: 0px;
    }
    #videos {
        width: 0px;
        height: 566px;
        background-color: rgb(0, 0, 0);
        margin: 10px 0 0 10px;
        float: left;
        position: relative;
        border-radius: 8px;
        top: 90px;  
    }
    #sosyal-ana {
        width: 200px;
        height: 300px;
        margin-left: 0px;
        padding: 0%;
        position: relative;
        left: 0px;
        top: 0px;
        right: 990px;
        bottom: 400px;
    }
    #sosyal-kare1 {
        width: 315px;
        height: 280px;
        background-image: url(/img/insaa.PNG);
        background-size: 315px;
        margin: 10px 0 0 10px;
        float: left;
        position: relative;
        top: 0px;
        bottom: 2500px;
    }
    #sosyal-kare1:hover {
        width: 315px;
        height: 280px;
        background-image: url(/img/instakram.GIF);
        background-size: 315px;
        background-position: center;
        margin: 10px 0 0 10px;
        float: left;
        position: relative;
        top: 0px;
        bottom: 1000px;
    }
    #sosyal-kare2 {
        width: 315px;
        height: 280px;
        background-image: url(/img/twitter.png);
        background-size: 315px;
        background-position: center;
        margin: 10px 0 0 10px;
        float: left;
        position: relative;
        left: 286px;
        bottom: 0px;
    }
    #sosyal-kare2:hover {
        width: 315px;
        height: 280px;
        background-image: url(/img/instakram.GIF);
        background-size: 315px;
        margin: 10px 0 0 10px;
        float: left;
        position: relative;
        left: 286px;
        bottom: 290px;
    }
    #sosyal-kare3 {
        width: 315px;
        height: 280px;
        background-image: url(/img/youtube.png);
        background-size: 315px;
        margin: 10px 10px 0 10px;
        float: left;
        position: relative;
        bottom: 0px;
    }
    #sosyal-kare4 {
        width: 315px;
        height: 280px;
        background-image: url(/img/facebook.png);
        background-size: 315px;
        margin: 10px 10px 0 10px;
        float: left;
        position: relative;
        right: 20px;
        left: 286px;
        bottom: 0px;
    }
    
    #demo-yolla {
        width: 315px;
        height: 210px;
        background-image: url(/img/Webp.net-gifmaker.gif);
        background-size: 30px;
        margin: 10px 10px 0 0px;
        right: 40px;
        position: relative;
        bottom: 1465px;
        border-radius: 8px;
    }
}
